{% extends 'base.html' %}

{% block content %}
<div>
<div class="d-flex flex-column align-items-center mb-4">
<img src="{{ user.profile.image.url }}" class="rounded-circle custom-profile mb-2">
<h2 style="color: #fff">{{ user.username }}</h2>
</div>
<form class="d-flex flex-column align-items-center" action="" method="post" enctype="multipart/form-data" style="color: #fff">
    {% csrf_token %}
    <span class="labels mb-2 mt-2">{{ user_form.username.label }}</span>
    {{ user_form.username }}
    <span class="labels mb-2 mt-3">{{ user_form.email.label }}</span>
    {{ user_form.email }}
    <span class="labels mb-2 mt-2">{{ profile_form.image.label }}</span>
    {{ profile_form.image }}
    <input class="btn btn-lg btn-primary mt-4" type="submit" value="Save Profile">
</form>
</div>
{% endblock %}
